/*code to display the page in dark and light mode*/
.toggle-light
{
    background-color: rgb(151, 203, 190);
    color:rgb(52, 124, 52);
}

.toggle-dark
{
    background-color:black;
    color:azure;
}
